<section>
  <div>
    <label>sJWS</label>
    <p>{{sJWS}}</p>
  </div>
  <div>
    <label>hN</label>
    <p>{{hN}}</p>
  </div>
  <div>
    <label>hE</label>
    <p>{{hE}}</p>
  </div>
</section>
<div>
  <button type="button" (click)="verify()">Verify</button>&nbsp;<span>{{resultToShow}}</span>
</div>
<hr>
<section>
  <div>
    <label>headB64U</label>
    <p>{{headB64U}}</p>
  </div>
  <div>
    <label>payloadB64U</label>
    <p>{{payloadB64U}}</p>
  </div>
  <div>
    <label>sigvalB64U</label>
    <p>{{sigvalB64U}}</p>
  </div>
  <div>
    <label>si</label>
    <p>{{si}}</p>
  </div>
  <div>
    <label>sigvalH</label>
    <p>{{sigvalH}}</p>
  </div>
  <div>
    <label>headS</label>
    <p>{{headS}}</p>
  </div>
  <div>
    <label>payloadS</label>
    <p>{{payloadS}}</p>
  </div>
</section>
